sbt.json
.bsp/
.data
project/project/
*.iml
**/.idea
**/.vscode
**/.gradle
**/.bsp
**/build
**/target
**/dist
**/node_modules
**/resources/WEB-INF
**/*.iml
**/*.jar
**/*.log
**/.DS_Store
**/.env
**/.keys
**/pom.xml.next
**/pom.xml.tag
**/.secrets
.actrc
**/release.properties
**/pom.xml.releaseBackup
**/debug


.bloop
.metals
metals.sbt
*/metals.sbt
/.direnv
metals.sbt
coursier
*.vscode